.navbar {
  padding: 10px;
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 1;
}

.logo,
.title {
  display: inline;
  margin: 5px;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.logo {
  color: white;
  font-weight: 700;
  padding: 0 4px;
  border: 1px solid white;
}